body {
  background: none;
  
}


/*blockquote {
  font-family: inconsolata;
  font-size: 1.2em;
  line-height: 1.3em;
  color: #ACF0F2;
  margin: 0 auto;
  white-space: pre;
  background: #1695A3;
  width: 500px;
  padding: 10px;
}*/

.row6{
  margin-top: 130px;
}

.masonjar{
  position: absolute;
  max-width: 200px;
}

.overlay {
  position: absolute;
  max-width: 215px;
  padding-top: 247px;
  left: 4px;
  opacity: 0.4;
  z-index: 1;

}


.apple {
  max-width: 80px;
  float: left;
  margin-left: 100px;
  padding-top: 247px;
  -webkit-animation: bob 2s ease-in-out infinite alternate;
          animation: bob 2s ease-in-out infinite alternate;
}

.foot {
  max-width: 100px;
  position: absolute;
  margin-left: -150px;
  padding-top: 300px;
  -webkit-animation: bob 2s ease-in-out infinite alternate;
          animation: bob 2s ease-in-out infinite alternate;
}


.boat--sinking {
  float: wrong;
  -webkit-animation-name: bob_and_rotate;
          animation-name: bob_and_rotate;
  opacity: .5;
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@-webkit-keyframes bob_and_rotate {
  0% {
    -webkit-transform: translateY(0) rotate(40deg);
            transform: translateY(0) rotate(40deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(40deg);
            transform: translateY(10px) rotate(40deg);
  }
}
@keyframes bob_and_rotate {
  0% {
    -webkit-transform: translateY(0) rotate(40deg);
            transform: translateY(0) rotate(40deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(40deg);
            transform: translateY(10px) rotate(40deg);
  }
}
